@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
    padding: 0pc;
    margin: 0pc;
    box-sizing: border-box;
}

.bg-color {
    background-color: #f6ede0;

}

.container a {
    color: #8b2323;
}

.container a:hover {
    color: #8b2323
}

.carousel-item {
    object-fit: cover;
    object-position: top;
    height: 90vh;
    overflow: hidden;
    width: 100vw;
    /* border:2px solid red; */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.card {
    /* border:2px solid red; */
}

.card-width {
    width: 100%;
    /* border:2px solid red; */
}

.heading h2 {
    /* border:2px solid red; */
    margin-bottom: 30px;

}

.collection {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    position: relative;
    /* width: 200px; */
    /* height: 200px; */


}

.collect_img1 {
    width: 50vw;
    height: 80vh;
    /* border: 2px solid rgb(111, 0, 255); */
    /* text-align: center; */
    /* line-height: 50px; */
    /* margin-left: 50px; */

}

.collect_img1 img {
    width: 100%;
    height: 100%;

}


.bgcolr {
    background-color: #f6ede0;
    padding: 20px;
}

.hover_collect {
    width: 200px;
    height: 200px;
    margin-left: 90px;
    margin-bottom: 50px;
    /* background-color: #f6ede0; */

}

.hover_collect img {
    width: 100%;
    height: 100%;
    margin-left: 190px;
    /* margin-bottom: 50vh; */
}

button {
    /* padding: 5px; */
    border: none;
    background-color: #8b2323;
    color: white;
    font-size: 25px;
    /**/
    border-radius: 5px;
    /* margin-top: 10px; */
}

h3,
p {
    color: #8b2323;
}

.collection_box {
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid red;
    height: 500px;
}

/* .main_img {
            width: ;
            display: block;

        } */

.content_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 80vh;
    background-color: #f6ede0;
    opacity: 0;
    visibility: hidden;
    /* transition: 0.3s ease; */
    padding: 15px;
    text-align: center;
}



.img2 {
    position: relative;
}



.sweet_shop {
    /* border:2px solid red; */
    width: 50vw;
    height: 80vh;
    background-color: #f6ede0;
    padding: 20px;

}

.sweet_shop img {
    width: 100%;
    height: 100%;
}

.shop {
    background-color: #eff7ef;
    padding: 50px;
}

ul li {
    list-style-type: none;
    line-height: 25px;
}

h2 {
    margin-left: 30px;

}

.footer {
    background-color: #8b2323;
    color: rgb(193, 179, 179);
}

.footer_bottom {
    /* border:2px solid red; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8b2323;
}

.foote_img {
    width: 300px;
    height: 100px;
    /* border:2px solid red; */
}

.foote_img img {
    width: 100%;
    height: 100%;
}

/* ===== */
.image-container {
    position: relative;
}

.add-cart-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 250px;
    transform: translateX(-50%);
    background: #ff9800;
    color: #e7e3e3;
    border: none;
    padding: 3px 3px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 250px;
    transform: translateX(-50%);
    background: #8b2323;
    color: #e7e3e3;
    border: none;
    padding: 3px 3px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.image-container:hover .add-cart-btn {
    opacity: 1;
    pointer-events: auto;
}

.summary-box {
    display: none;
    position: fixed;
    /* position: relative; */
    top: 70px;
    right: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    height: 500vh;
    padding: 20px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.summary-box i {
    position: absolute;
    top: 20px;
    left: 256px;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: 0.4s;
    z-index: 9999;
}

.cart-sidebar.active {
    right: 0;
}

.close-btn {
    background: red;
    color: white;
    border: none;
    padding: 8px 14px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;

}

.form {
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 25px 0px;
    /* flex-wrap: wrap; */
    background-color: #f6f7f7;

}

.form .left_form {
    /* border:2px solid green; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    box-shadow: 1px 1px #dadbdbd7;
    padding: 30px;
    border-radius: 10px;


    /* background-color: #106b7017; */
    /* height: 200px; */
}

.form .left_form input {
    margin-bottom: 20px;
    padding: 10px;
    width: 30vw;
    border-radius: 5px;
    border: 2px solid #8b2323;
    color: #8b2323;
    font-size: 15px;

}

textarea {
    margin-bottom: 20px;
    padding: 10px;
    width: 30vw;
    border-radius: 5px;
    border: 2px solid #8b2323;
    color: #8b2323;
    font-size: 15px;
}

.image-container {
    position: relative;
}

.image-container img.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover img.hover-img {
    opacity: 1;
}

.image-container:hover img.main-img {
    opacity: 0;
}

.image-container img {
    width: 100%;
    height: auto;
}

.carousel {
    position: relative;

}

.product_content {
    position: absolute;
    bottom: 100px;
    left: 20px;
    width: 40vw;
}

.product_content h2 {
    color: #f6ede0;
    font-family: 'Libre Baskerville';
    font-size: 70px;
}

.product_content p {
    color: #bbb7b0;
    padding-left: 40px;
}

.about_content {
    position: absolute;
    bottom: 150px;
    left: 25vw;
    width: 50vw;
}

.about_content h2 {
    color: #ebebeb;
    font-family: 'Libre Baskerville';
    font-size: 70px;
    font-family: 'Libre Baskerville', serif;
}